
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


input:focus {
  outline: none;
}


label:has(input[type="radio"]):hover {
  border-color: #3b82f6;
}